<?xml version="1.0" encoding="UTF-8"?>
<config>
  <modules>
    <Smashmetrics_Rekko>
      <version>1.0.0</version> <!-- the version of module resources -->
    </Smashmetrics_Rekko>
  </modules>
  <global> <!-- global scope, also known as the default configuration area -->
    <models>
      <rekko>
        <class>Smashmetrics_Rekko_Model</class>
      </rekko>
    </models>
    <blocks>
      <rekko>
        <class>Smashmetrics_Rekko_Block</class>        
      </rekko>
    </blocks> 
    <resources>
      <rekko_setup>
        <setup>
          <module>Smashmetrics_Rekko</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </rekko_setup>
      <rekko_write>
        <connection>
          <use>core_write</use>
        </connection>
      </rekko_write>
      <rekko_read>
        <connection>
          <use>core_read</use>
        </connection>
      </rekko_read>
    </resources>
  </global>
  <frontend>
    <layout>
      <updates>
        <rekko>
          <file>rekko.xml</file>
        </rekko>
      </updates>
    </layout>
  </frontend>
  
  <default>
    <rekko_section>
      <rekko_group>
        <enabled>1</enabled>
      </rekko_group>
    </rekko_section>
  </default>
  <admin>
    <routers>
      <smashrekko>
        <use>admin</use>
        <args>
          <module>Smashmetrics_Rekko</module>
          <frontName>rekko</frontName>
        </args>
      </smashrekko>
    </routers>
  </admin>
  <adminhtml>
    <layout>
      <updates>
        <gtspeed>
          <file>rekko.xml</file>
        </gtspeed>
      </updates>
    </layout>
  </adminhtml>
  
</config>
