<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Smashmetrics_Rekko>
            <version>1.0.0</version> <!-- the version of module resources -->
        </Smashmetrics_Rekko>
    </modules>
    <global> <!-- global scope, also known as the default configuration area -->
        <helpers> <!-- a definition of the module helpers namespace -->
            <rekko>
                <class>Smashmetrics_Rekko_Helper</class>
            </rekko>
        </helpers>
        <blocks>
            <rekko>
                <class>Smashmetrics_Rekko_Block</class>        
            </rekko>
        </blocks> 
              <resources>
            <rekko_setup>
                <setup>
                    <module>Smashmetrics_Rekko</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </rekko_setup>
            <rekko_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </rekko_write>
            <rekko_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </rekko_read>
        </resources>
          <events>
	         <core_block_abstract_to_html_after>
	             <observers>
	                 <rekko>
	                         <type>singleton</type>
	                         <class>Smashmetrics_Rekko_Model_Observer</class>
	                         <method>addRekkoCode</method>
	                 </rekko>
	             </observers>
	         </core_block_abstract_to_html_after>
			 <newsletter_subscriber_save_after>
	             <observers>
	                 <newsub>
	                         <type>singleton</type>
	                         <class>Smashmetrics_Rekko_Model_Observer</class>
	                         <method>newsletterSubscriberSave</method>
	                 </newsub>
	             </observers>
	         </newsletter_subscriber_save_after>
			  <customer_register_success>
	             <observers>
	                 <newsub>
	                         <type>singleton</type>
	                         <class>Smashmetrics_Rekko_Model_Observer</class>
	                         <method>customerRegisterSuccess</method>
	                 </newsub>
	             </observers>
	         </customer_register_success>
         </events>
          <models>
            <smash_rekkomodel>
                <class>mashmetrics_Rekko_Model</class>
            </smash_rekkomodel>
        </models>
    </global>
    
        <default>
        <rekko_section>
            <rekko_group>
                <enabled>1</enabled>
            </rekko_group>
       </rekko_section>
    </default>
    <frontend>
        <layout>
            <updates>
                <rekko>
                    <file>rekko.xml</file>
                </rekko>
            </updates>
        </layout>
       

    </frontend>
    <admin>
        <routers>
            <smashrekko>
                <use>admin</use>
                <args>
                    <module>Smashmetrics_Rekko</module>
                    <frontName>rekko</frontName>
                </args>
            </smashrekko>
        </routers>
    </admin>
<adminhtml>
        <layout>
            <updates>
                <gtspeed>
                    <file>rekko.xml</file>
                </gtspeed>
            </updates>
        </layout>
    </adminhtml>
    
</config>