<?xml version="1.0" ?>
<config>
  <tabs>
    <rekkotagging module="rekko" translate="label">
      <label>Rekko</label>
      <sort_order>100</sort_order>
    </rekkotagging>
  </tabs>
  <sections>
    <rekko_section module="rekko" translate="label">
      <label>Settings</label>
      <sort_order>200</sort_order>
      <show_in_default>1</show_in_default>
      <show_in_website>1</show_in_website>
      <show_in_store>1</show_in_store>
      <tab>rekkotagging</tab>
      <groups>
        <rekko_group translate="label">
          <label>Settings</label>
          <comment></comment>
          <sort_order>10</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <site_ID translate="label tooltip comment">
              <label>Site ID</label>
              <sort_order>1</sort_order>
              <tooltip>Enter Site ID</tooltip>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <frontend_type>text</frontend_type>
            </site_ID>
          </fields>
        </rekko_group>
        
        
      </groups>
    </rekko_section>
    
  </sections>
</config>
